@font-face {
  font-family: allura;
  font-weight: 400;
  src: url("../assets/fonts/Allura-Regular.ttf");
}

@font-face {
  font-family: poppins;
  font-weight: 500;
  src: url("../assets/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: roboto;
  font-weight: 300;
  src: url("../assets/fonts/Roboto-Light.ttf");
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: poppins;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  margin: 0 auto;
  line-height: 1em;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-family: allura;
  font-size: 3rem;
  text-transform: capitalize;
  color: #bb9519;
}

h3 {
  font-family: roboto;
  font-size: 2rem;
  text-transform: uppercase;
}

img.couvert {
  margin: 3rem;
}

input, select {
  outline: none;
  border: none;
  border-bottom: 2px solid #aaa;
  padding: 1em;
}

body {
  margin: 0;
  box-sizing: border-box;
}

#head {
  background: center/cover url("../assets/img/bg-slider-06.jpg");
  height: 100vh;
}

#head nav {
  color: #fff;
  width: 80%;
  margin: auto;
  padding-top: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#head nav h2 {
  color: #fff;
}

#head nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

#head nav ul li {
  font-family: roboto;
  text-transform: uppercase;
  padding: 0 2em;
}

#head nav ul li a {
  display: inline-block;
  width: 100%;
  transition: 0.5s ease-in-out;
}

#head nav ul li a:hover {
  display: inline-block;
  transform: scale(1.5);
}

#head nav .reseaux {
  display: flex;
}

@media screen and (max-width: 1335px) {
  #head nav ul li {
    padding: 0 1em;
  }
}

@media screen and (max-width: 1050px) {
  #head nav ul {
    display: none;
  }
}

#head .vh_content {
  color: #fff;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#head .vh_content_txt {
  transform: translateY(-50%);
}

#head .vh_content_txt h1 {
  text-transform: uppercase;
  font-size: 5rem;
  letter-spacing: 0.1em;
  margin: auto;
}

@media screen and (max-width: 730px) {
  #head .vh_content_txt h1 {
    font-size: 4rem;
  }
  #head .vh_content_txt h3 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 410px) {
  #head .vh_content_txt h1 {
    font-size: 2rem;
  }
  #head .vh_content_txt h2 {
    font-size: 1.5rem;
  }
  #head .vh_content_txt h3 {
    font-size: 0.8rem;
  }
}

#section1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#section1 .bloc:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
}

#section1 .bloc:nth-child(1) .bloc_content {
  margin: 30px;
  padding: 30px;
  border: 1px dashed #bb9519;
  text-align: center;
}

#section1 .bloc:nth-child(1) .bloc_content p {
  margin: 0;
  font-family: roboto;
}

#section1 .bloc:nth-child(1) .bloc_content .card {
  margin: 1em auto;
}

#section1 .bloc:nth-child(1) .bloc_content .card img {
  border-radius: 50%;
  transform: scale(0.8);
}

#section1 .bloc:nth-child(1) .bloc_content .card h2 {
  color: #000;
  font-family: poppins;
  font-size: 1.2rem;
  margin-bottom: 0.3em;
}

#section1 .bloc:nth-child(1) .bloc_content .card h3 {
  color: #aaa;
  font-family: roboto;
  font-size: 0.8rem;
}

#section1 .bloc:nth-child(2) {
  background: center/cover url("../assets/img/store-01.jpg");
}

@media screen and (max-width: 1230px) {
  #section1 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

#section2 {
  margin: 0;
  background: #21201E;
  text-align: center;
  position: relative;
  z-index: 1;
}

#section2 .menu {
  padding-top: 100px;
  position: relative;
}

#section2 .menu::before {
  content: "";
  background: center/cover url("../assets/img/bg-menu-01.jpg");
  position: absolute;
  top: 450px;
  left: 0;
  width: 100%;
  height: 70%;
  z-index: -1;
}

#section2 .menu ul {
  color: #fff;
  list-style-type: none;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  padding: 0;
}

#section2 .menu ul li {
  padding: 0 2em;
  text-transform: capitalize;
}

#section2 .menu ul li:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 2px;
  background: #aaa;
  transform: translateY(-25px);
}

#section2 .menu_content {
  min-width: 1010px;
  width: 60%;
  margin: auto;
  padding: 30px 50px;
  background: #fff;
  border-top: 7px solid #bb9519;
  color: #000;
}

#section2 .menu_content section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}

#section2 .menu_content .plate {
  display: grid;
  grid-template-columns: 1fr 6fr 2fr;
  align-items: center;
  padding: 3em 2em;
  border-bottom: 1px dashed #aaa;
}

#section2 .menu_content .plate img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
}

#section2 .menu_content .plate_descriptif {
  text-align: left;
}

#section2 .menu_content .plate_descriptif h2 {
  font-family: poppins;
  color: inherit;
  text-transform: uppercase;
  font-size: 1rem;
}

#section2 .menu_content .plate_descriptif p {
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0;
}

@media screen and (max-width: 600px) {
  #section2 .menu_content .plate_descriptif h2 {
    font-size: 0.7rem;
  }
  #section2 .menu_content .plate_descriptif p {
    font-size: 0.6rem;
  }
}

#section2 .menu_content .plate .price {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bb9519;
  font-family: allura;
}

@media screen and (max-width: 600px) {
  #section2 .menu_content .plate .price h2 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  #section2 .menu_content .plate {
    grid-template-columns: 2fr 1fr;
  }
  #section2 .menu_content .plate img {
    display: none;
  }
}

@media screen and (max-width: 1050px) {
  #section2 .menu_content {
    min-width: 580px;
  }
  #section2 .menu_content section {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  #section2 .menu_content {
    min-width: unset;
  }
  #section2 .menu_content .plate {
    padding: 1em;
  }
}

@media screen and (max-width: 1050px) {
  #section2 .menu ul li {
    padding: 0 1em;
  }
}

@media screen and (max-width: 630px) {
  #section2 .menu {
    min-width: unset;
  }
  #section2 .menu ul li {
    padding: 0 0.5em;
  }
}

#section3 {
  background: #21201E;
  padding-top: 150px;
}

#section3 .reservation {
  width: 80%;
  min-width: 965px;
  max-width: 1700px;
  margin: 50px auto 0 auto;
  display: grid;
  grid-template-columns: 25% 75%;
}

#section3 .reservation .bloc {
  text-align: center;
}

#section3 .reservation .bloc:first-child {
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

#section3 .reservation .bloc:first-child .bloc_content {
  width: 100%;
  height: 100%;
  border: 1px dashed #aaa;
}

#section3 .reservation .bloc:first-child .bloc_content h2 {
  margin-top: 1em;
}

#section3 .reservation .bloc:first-child .bloc_content h4 {
  text-transform: uppercase;
  color: #bb9519;
  font-size: 1.2rem;
  margin: 1.5em auto;
}

#section3 .reservation .bloc:first-child .bloc_content p {
  margin: 0;
  font-size: roboto;
  text-transform: uppercase;
}

#section3 .reservation .bloc:first-child .bloc_content p em {
  font-size: 0.9em;
  text-transform: capitalize;
}

#section3 .reservation .bloc:last-child {
  background: #fff;
  color: #000;
  padding: 0 5em;
}

#section3 .reservation .bloc:last-child h2 {
  margin-top: 2em;
}

#section3 .reservation .bloc:last-child form div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: 1em;
}

#section3 .reservation .bloc:last-child form button {
  margin-top: 3em;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: #fff;
  background: #000;
  padding: 1.5em 5em;
  border-radius: 60px;
}

@media screen and (max-width: 985px) {
  #section3 .reservation {
    min-width: unset;
    width: 90%;
    grid-template-columns: 35% 65%;
  }
  #section3 .reservation .bloc:last-child {
    padding: 0 2em;
  }
  #section3 .reservation .bloc:last-child form div {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "i1 i2" "i3 i3";
  }
  #section3 .reservation .bloc:last-child form div:first-child {
    margin-bottom: 3em;
  }
  #section3 .reservation .bloc:last-child form div select {
    grid-area: i1;
  }
  #section3 .reservation .bloc:last-child form div input[type="date"] {
    grid-area: i2;
  }
  #section3 .reservation .bloc:last-child form div input[type="time"] {
    grid-area: i3;
  }
  #section3 .reservation .bloc:last-child form div input.name {
    grid-area: i1;
  }
  #section3 .reservation .bloc:last-child form div input.phone {
    grid-area: i2;
  }
  #section3 .reservation .bloc:last-child form div input.email {
    grid-area: i3;
  }
  #section3 .reservation .bloc:last-child form button {
    margin: 1em auto;
  }
}

@media screen and (max-width: 804px) {
  #section3 .reservation {
    grid-template-columns: 45% 55%;
  }
  #section3 .reservation .bloc:last-child form div {
    grid-template-columns: 1fr;
    grid-template-areas: "i1" "i2" "i3";
  }
}

@media screen and (max-width: 600px) {
  #section3 .reservation {
    grid-template-columns: 1fr;
  }
  #section3 .reservation .bloc:first-child img.couvert {
    margin: 1rem;
  }
}

#section4 {
  padding: 100px 0 300px 0;
  text-align: center;
  background: #21201E;
}

#section4 h3 {
  color: #fff;
}

#section4 .section {
  width: 80%;
  max-width: 1700px;
  margin: auto;
  display: grid;
  gap: 30px;
  grid-template-columns: 55% 45%;
  grid-template-areas: "clt cr" "clb cr";
}

#section4 .section .card {
  display: flex;
}

#section4 .section .card .bloc .date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 125px;
  color: #fff;
  background: #21201E;
}

#section4 .section .card .bloc .date h4 {
  font-family: roboto;
  margin: 0.15em 0;
}

#section4 .section .card .bloc .date h4:first-child {
  font-size: 2rem;
}

#section4 .section .card .bloc .date h4:last-child {
  letter-spacing: 0.1em;
}

#section4 .section .card .bloc:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

#section4 .section .card .bloc:last-child {
  flex: 2;
  color: #000;
  background: #fff;
  padding: 0;
}

#section4 .section .card .bloc h3 {
  margin: 1em 0 0 0;
  color: #000;
  text-transform: capitalize;
  letter-spacing: 0.1em;
  font-size: 1.5rem;
}

#section4 .section .card .bloc ul {
  padding: 0;
  display: flex;
  justify-content: center;
}

#section4 .section .card .bloc ul li {
  margin: 0 1em;
  color: #aaa;
  font-size: 0.8rem;
  text-transform: capitalize;
  letter-spacing: 0.15em;
}

#section4 .section .card .bloc ul li:first-child::before {
  content: "";
  display: inline-block;
  margin: 0 10px;
  width: 15px;
  height: 15px;
  background: center/cover url("../assets/img/pin.svg");
}

#section4 .section .card .bloc ul li:last-child::before {
  content: "";
  display: inline-block;
  margin: 0 10px;
  width: 15px;
  height: 15px;
  background: center/cover url("../assets/img/clock-time.svg");
}

#section4 .section .card .bloc a {
  display: block;
  text-transform: uppercase;
  text-align: left;
  margin: 3em 2em;
}

#section4 .section .cardLeftTop {
  grid-area: clt;
  min-width: 640px;
  height: 200px;
}

#section4 .section .cardLeftTop .bloc:first-child {
  background: center/cover url("../assets/img/event-01.jpg");
  width: 200px;
  height: 200px;
}

#section4 .section .cardLeftBottom {
  grid-area: clb;
  min-width: 640px;
  height: 200px;
}

#section4 .section .cardLeftBottom .bloc:first-child {
  background: center/cover url("../assets/img/event-02.jpg");
}

#section4 .section .cardRight {
  grid-area: cr;
  max-width: 640px;
  background: center/cover url(../assets/img/event-03.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

#section4 .section .cardRight .bloc {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 130px !important;
  flex-direction: column;
}

#section4 .section .cardRight .bloc .date {
  position: absolute;
  top: 0;
}

#section5 {
  background: #21201E;
}

#section5 .comment {
  background: #fff;
  margin: auto;
  width: 80%;
  max-width: 1700px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

#section5 .comment .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

#section5 .comment .citation {
  text-align: center;
  margin: 50px auto 50px auto;
}

#section5 .comment .citation p {
  width: 80%;
  display: block;
  margin: 3em auto;
  position: relative;
  line-height: 2em;
}

#section5 .comment .citation p::before {
  content: "";
  background: center/cover url("../assets/img/left-quote.svg");
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0px;
  left: 0px;
}

#section5 .comment .citation p::after {
  content: "";
  background: center/cover url("../assets/img/left-quote.svg");
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 20px;
  right: -10px;
  transform: rotate(180deg);
}

#section5 .comment .citation h2 {
  color: #000;
  font-family: poppins;
  font-size: 1.2rem;
  margin-bottom: 1em;
}

#section5 .comment .citation h3 {
  color: #bb9519;
  font-family: roboto;
  font-size: 0.8rem;
}

#map {
  background: center/cover url("../assets/img/gmap.jpg");
  height: 400px;
  transform: translateY(-50px);
}

footer {
  background: #21201E;
  transform: translateY(-50px);
}

footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  max-width: 1700px;
  margin: auto;
}

footer .container .bloc:first-child {
  padding: 50px;
}

footer .container .bloc:first-child .content {
  width: 70%;
  margin-left: auto;
  margin-right: 0;
}

footer .container .bloc:first-child .content p {
  line-height: 1.8em;
  font-family: roboto;
  color: #aaa;
}

footer .container .bloc:last-child {
  padding: 50px;
}

footer .container .bloc:last-child h3 {
  color: #fff;
  font-size: 1rem;
  margin: 25px auto;
}

footer .container .bloc:last-child .content .newsletter {
  margin-bottom: 25px;
}

footer .container .bloc:last-child .content .newsletter input {
  height: 1.2em;
  color: #fff;
  background: #21201E;
  border: 0.1px solid #aaa;
}

footer .container .bloc:last-child .content .newsletter button {
  visibility: hidden;
}

footer .container .bloc:last-child .content .reseaux {
  display: flex;
}

footer .container .bloc:last-child .content .reseaux h3 {
  flex: 1;
}

footer .container .bloc:last-child .content .reseaux ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 3;
  padding: 0;
}

footer .container .bloc:last-child .content .reseaux ul li {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

footer .container .bloc:last-child .content .reseaux ul li img {
  width: 100%;
}
/*# sourceMappingURL=app.css.map */