@font-face {
  font-family: allura;
  font-weight: 400;
  src: url("../assets/fonts/Allura-Regular.ttf");
}

@font-face {
  font-family: poppins;
  font-weight: 500;
  src: url("../assets/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: roboto;
  font-weight: 300;
  src: url("../assets/fonts/Roboto-Light.ttf");
}

body {
  font-size: 16px;
  font-family: poppins;
}

h2 {
  text-transform: capitalize;
}

body {
  margin: 0;
  box-sizing: border-box;
}

#head {
  background: center/cover url("../assets/img/bg-slider-06.jpg");
  height: 100vh;
}

#head nav {
  color: #fff;
  width: 80%;
  margin: auto;
  padding-top: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#head nav h2 {
  font-family: allura;
  font-size: 2.5rem;
  margin: 0;
}

#head nav ul {
  display: flex;
  list-style-type: none;
}

#head nav ul li {
  font-family: roboto;
  text-transform: uppercase;
  padding: 0 2em;
}

#head nav .reseaux {
  display: flex;
}

#head .vh_content {
  color: #fff;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#head .vh_content_txt {
  transform: translateY(-50%);
}

#head .vh_content_txt h2 {
  font-family: allura;
  font-size: 3rem;
  line-height: 1em;
  color: #bb9519;
  margin: 0 auto;
}

#head .vh_content_txt h1 {
  text-transform: uppercase;
  font-size: 5rem;
  line-height: 1em;
  letter-spacing: 0.1em;
  margin: 0 auto;
  margin: 0 auto;
}

#head .vh_content_txt img.couvert {
  margin: 3em auto;
}

#head .vh_content_txt h3 {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-family: roboto;
}

#section1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#section1 .bloc:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
}

#section1 .bloc:nth-child(1) .bloc_content {
  margin: 30px;
  padding: 30px;
  border: 1px dashed #bb9519;
  text-align: center;
}

#section1 .bloc:nth-child(1) .bloc_content h2 {
  color: #bb9519;
  font-family: allura;
  font-size: 2em;
  margin: 0;
}

#section1 .bloc:nth-child(1) .bloc_content h3 {
  margin: 0;
  text-transform: uppercase;
}

#section1 .bloc:nth-child(1) .bloc_content img.couvert {
  padding: 3em;
}

#section1 .bloc:nth-child(1) .bloc_content p {
  margin: 0;
  font-family: roboto;
}

#section1 .bloc:nth-child(1) .bloc_content .card {
  margin: 1em auto;
}

#section1 .bloc:nth-child(1) .bloc_content .card img {
  border-radius: 50%;
  transform: scale(0.8);
}

#section1 .bloc:nth-child(1) .bloc_content .card h2 {
  color: #000;
  font-family: poppins;
  font-size: 1.2rem;
}

#section1 .bloc:nth-child(1) .bloc_content .card h3 {
  color: #aaa;
  font-family: roboto;
  font-size: 0.8rem;
}

#section1 .bloc:nth-child(2) {
  background: center/cover url("../assets/img/store-01.jpg");
}

.bandeau {
  background: #21201E;
  height: 45vh;
}

#section2 {
  margin: 0;
  background: center/cover url("../assets/img/bg-menu-01.jpg");
  text-align: center;
}

#section2 .menu h2 {
  font-family: allura;
  font-size: 3rem;
  color: #bb9519;
  margin: 0;
}

#section2 .menu img.couvert {
  margin: 2rem;
}

#section2 .menu ul {
  color: #fff;
  list-style-type: none;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

#section2 .menu ul li {
  padding: 0 2em;
  text-transform: capitalize;
}

#section2 .menu ul li:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 2px;
  background: #aaa;
  transform: translateY(-25px);
}

#section2 .menu_content {
  width: 60%;
  margin: auto;
  padding: 30px 50px;
  background: #fff;
  border-top: 7px solid #bb9519;
  color: #000;
}

#section2 .menu_content section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}

#section2 .menu_content .plate {
  display: grid;
  grid-template-columns: 1fr 6fr 2fr;
  align-items: center;
  padding: 3em 2em;
  border-bottom: 1px dashed #aaa;
}

#section2 .menu_content .plate img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
}

#section2 .menu_content .plate_descriptif {
  text-align: left;
}

#section2 .menu_content .plate_descriptif h2 {
  font-family: poppins;
  color: inherit;
  text-transform: uppercase;
  font-size: 1rem;
}

#section2 .menu_content .plate_descriptif p {
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0;
}

#section2 .menu_content .plate .price {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bb9519;
  font-family: allura;
}

#section2 .menu_content .plate .price h2 {
  font-size: 2rem;
}
/*# sourceMappingURL=app.css.map */