doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css")
        link(rel="stylesheet", href="css/app.css")
        title The Fiasco
    body 
        #head 
            nav
                h2 The Fiasco
                ul  
                    li home
                    li reservations
                    li menu
                    li blog
                    li pages
                    li shop
                    li contact
                .reseaux 
                ul 
                    li 
                        i.fab.fa-facebook-f
                    li 
                        i.fab.fa-twitter
                    li 
                        i.fab.fa-instagram

            .vh_content
                .vh_content_txt
                    h2 Welcome to 
                    h1 the resto 
                    img.couvert(src="assets/img/ic-plate.png" alt="logo couvert")
                    h3 we serve only the freshest ingredients !

        section#section1   
            .bloc 
                .bloc_content
                    h2 Discover 
                    h3 our store
                    img.couvert(src="assets/img/ic-plate.png" alt="logo couvert")
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur nesciunt voluptate quos inventore fugit aliquam deleniti hic ad ipsum qui, vero, iusto doloribus. Dolor, quisquam.
                    
                    .card
                        img(src="assets/img/avatar-01.jpg", alt="avatar chef cuisto")
                        h2 russell stephens
                        h3 chef cook


            .bloc

        section.bandeau 

        section#section2 
            .menu 
                h2 Discover 
                img.couvert(src="assets/img/ic-plate.png" alt="logo couvert")
                ul 
                    li breakfast
                    li lunch
                    li dinner
                    li drinks
                    li other

                .menu_content 
                    section 
                        .plate 
                            img.photo(src="assets/img/dish-item-01.jpg", alt="photo plat 1")
                            .plate_descriptif 
                                h2 italian source mushroom 
                                p Mushroom / Garlic / Veggies
                            .price 
                                h2 $12
                        .plate 
                            img.photo(src="assets/img/dish-item-02.jpg", alt="photo plat 1")
                            .plate_descriptif 
                                h2 fried potatoes with garuc
                                p Potatoes / Olives Oil / Garlic
                            .price 
                                h2 $22
                    section 
                        .plate 
                            img.photo(src="assets/img/dish-item-03.jpg", alt="photo plat 3")
                            .plate_descriptif 
                                h2 tenu roast source
                                p tuna / potatoes / rice
                            .price 
                                h2 $15
                        .plate 
                            img.photo(src="assets/img/dish-item-04.jpg", alt="photo plat 4")
                            .plate_descriptif 
                                h2 roast pork (4 sticks) 
                                p pork / veggies / shoyu
                            .price 
                                h2 $18
                    section 
                        .plate 
                            img.photo(src="assets/img/dish-item-05.jpg", alt="photo plat 5")
                            .plate_descriptif 
                                h2 salted fried chicken
                                p chicken / olive oil / salt
                            .price 
                                h2 $20
                        .plate 
                            img.photo(src="assets/img/dish-item-06.jpg", alt="photo plat 6")
                            .plate_descriptif 
                                h2 crab curry sources
                                p crab / potatoes / rice
                            .price 
                                h2 $14
                    section 
                        .plate 
                            img.photo(src="assets/img/dish-item-07.jpg", alt="photo plat 7")
                            .plate_descriptif 
                                h2 imported slamon steack
                                p salmon / veggies  /oil
                            .price 
                                h2 $16
                        .plate 
                            img.photo(src="assets/img/dish-item-08.jpg", alt="photo plat 8")
                            .plate_descriptif 
                                h2 baked potato pizza
                                p potato / bread / cheese
                            .price 
                                h2 $25
                    


                    
            
