//import
include pug/mixins

doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(property="og:title" content="Restaurant - The Fiasco")
        meta(property="og:image" content="https://int2cs.github.io/fiasco/assets/img/bg-slider-06.jpg")
        link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css")
        link(rel="stylesheet", href="css/app.css")
        title The Fiasco
    body 
        #head 
            nav
                h2 
                    a(href="#")
                        |The Fiasco
                ul  
                    li 
                        a(href="#")
                            |home
                    li 
                        a(href="#section3")
                            |reservations
                    li 
                        a(href="#section2")
                            |menu
                    li 
                        a(href="#section4")
                            |blog
                    li 
                        a(href="#")
                            |pages
                    li 
                        a(href="#")
                            |shop
                    li 
                        a(href="#contact")
                            |contact
                .reseaux 
                ul 
                    li
                        a(href="#")  
                            i.fab.fa-facebook-f
                    li 
                        a(href="#") 
                            i.fab.fa-twitter
                    li 
                        a(href="#") 
                            i.fab.fa-instagram

            .vh_content
                .vh_content_txt
                    h2 Welcome to 
                    h1 the fiasco
                    +couvert
                    h3 we serve only the freshest ingredients !

        section#section1   
            .bloc 
                .bloc_content
                    h2 Discover 
                    h3 our store
                    +couvert
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur nesciunt voluptate quos inventore fugit aliquam deleniti hic ad ipsum qui, vero, iusto doloribus. Dolor, quisquam.
                    
                    .card
                        img(src="assets/img/avatar-01.jpg", alt="avatar chef cuisto")
                        h2 russell stephens
                        h3 chef cook 
            .bloc

        section#section2 
            .menu 
                h2 Discover 
                +couvert
                ul 
                    li breakfast
                    li lunch
                    li dinner
                    li drinks
                    li other

                .menu_content 
                    section 
                        .plate 
                            img.photo(src="assets/img/dish-item-01.jpg", alt="photo plat 1")
                            .plate_descriptif 
                                h2 italian source mushroom 
                                p Mushroom / Garlic / Veggies
                            .price 
                                h2 $12
                        .plate 
                            img.photo(src="assets/img/dish-item-02.jpg", alt="photo plat 1")
                            .plate_descriptif 
                                h2 fried potatoes with garuc
                                p Potatoes / Olives Oil / Garlic
                            .price 
                                h2 $22
                    section 
                        .plate 
                            img.photo(src="assets/img/dish-item-03.jpg", alt="photo plat 3")
                            .plate_descriptif 
                                h2 tenu roast source
                                p tuna / potatoes / rice
                            .price 
                                h2 $15
                        .plate 
                            img.photo(src="assets/img/dish-item-04.jpg", alt="photo plat 4")
                            .plate_descriptif 
                                h2 roast pork (4 sticks) 
                                p pork / veggies / shoyu
                            .price 
                                h2 $18
                    section 
                        .plate 
                            img.photo(src="assets/img/dish-item-05.jpg", alt="photo plat 5")
                            .plate_descriptif 
                                h2 salted fried chicken
                                p chicken / olive oil / salt
                            .price 
                                h2 $20
                        .plate 
                            img.photo(src="assets/img/dish-item-06.jpg", alt="photo plat 6")
                            .plate_descriptif 
                                h2 crab curry sources
                                p crab / potatoes / rice
                            .price 
                                h2 $14
                    section 
                        .plate 
                            img.photo(src="assets/img/dish-item-07.jpg", alt="photo plat 7")
                            .plate_descriptif 
                                h2 imported slamon steack
                                p salmon / veggies  /oil
                            .price 
                                h2 $16
                        .plate 
                            img.photo(src="assets/img/dish-item-08.jpg", alt="photo plat 8")
                            .plate_descriptif 
                                h2 baked potato pizza
                                p potato / bread / cheese
                            .price 
                                h2 $25
                    
        section#section3 
            .reservation 
                .bloc 
                    .bloc_content 
                        h2 time 
                        h3 open 
                        +couvert
                        h4 monday - friday 
                        p 7am - 11am
                            em
                                | (breakfast)
                        p 11 - am 10pm
                            em
                                | (lunch/dinner)
                        h4 saturday / sunday 
                        p 8am - 1pm|
                            em  
                                | (brunch)
                        p 1pm - 9pm
                            em 
                                | (lunch/dinner)
                        h4 +15 890 979 25 52
                .bloc 
                    h2 reservation 
                    h3 online booking 
                    +couvert
                    form(action="#") 
                        div
                            select(id="people" required)
                                option People
                                - var i = 0
                                while i < 10
                                    option(value=i)= i++
                            input(type="date" id="date" value="2021-02-11" min="2021-01-01" max="2021-12-31" required)
                            input(type="time" id="time" min="07:00" max="19:30" required)
                        div
                            input(type="text" placeholder="Name" required).name
                            input(type="text" placeholder="Phone" required).phone
                            input(type="text" placeholder="Email" required).email
                        button(type="submit") book now

        section#section4
            h2 Upcoming 
            h3 our event
            +couvert
            .section
                .card.cardLeftTop
                    .bloc
                        .date 
                            h4 08
                            h4 july 
                    .bloc
                        h3 night inspirescu party 
                        ul  
                            li restaurant resto 
                            li 10:00pm - 6:00am
                        a(href="#") buy tickets

                .card.cardLeftBottom 
                    .bloc
                        .date 
                            h4 08
                            h4 july 
                    .bloc
                        h3 night inspirescu party 
                        ul  
                            li restaurant resto 
                            li 10:00pm - 6:00am
                        a(href="#") buy tickets

                .card.cardRight 
                    .bloc
                        .date
                            h4 08
                            h4 july 
                        h3 Thousand celebrites at johnnie night 
                        ul 
                            li restaurant resto
                            li 10:00pm - 6:00am
                        a(href="#") buy tickets

        section#section5    
            .comment 
                img.avatar(src="./assets/img/avatar-02.jpg", alt="avatar")
                .citation
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus vero soluta, itaque sapiente cum impedit blanditiis autem nobis possimus expedita laudantium recusandae suscipit optio error aspernatur saepe voluptatem aut, quisquam nisi eius! Quod, repellat. Voluptatibus voluptatum obcaecati labore nemo in!
                    h2 Magie Stephens
                    h3 CEO - HeadPassion
        #map 

        footer#contact
            .container
                .bloc 
                    .content
                        h2 resto
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo est possimus rem ea   voluptatibus distinctio voluptatum quasi.
                .bloc 
                    .content
                        .newsletter 
                            form   
                                h3 newsletter 
                                input(types="text" placeholder="Your email address")
                                button(type="submit")
                        .reseaux 
                            h3 follow us :
                            ul 
                                li 
                                    img(src="./assets/img/icons/facebook.svg", alt="facebook") 
                                li
                                    img(src="./assets/img/icons/twitter.svg", alt="twitter") 
                                li 
                                    img(src="./assets/img/icons/instagram.svg", alt="instagram") 
                                li 
                                    img(src="./assets/img/icons/pinterest.svg", alt="pinterest") 
