doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css")
        link(rel="stylesheet", href="css/app.css")
        title The Fiasco
    body 
        #head 
            nav
                h2 
                    a(href="#")
                        |The Fiasco
                ul  
                    li 
                        a(href="#")
                            |home
                    li 
                        a(href="#")
                            |reservations
                    li 
                        a(href="#section2")
                            |menu
                    li 
                        a(href="#")
                            |blog
                    li 
                        a(href="#")
                            |pages
                    li 
                        a(href="#")
                            |shop
                    li 
                        a(href="#")
                            |contact
                .reseaux 
                ul 
                    li 
                        i.fab.fa-facebook-f
                    li 
                        i.fab.fa-twitter
                    li 
                        i.fab.fa-instagram

            .vh_content
                .vh_content_txt
                    h2 Welcome to 
                    h1 the resto 
                    img.couvert(src="assets/img/ic-plate.png" alt="logo couvert")
                    h3 we serve only the freshest ingredients !

        section#section1   
            .bloc 
                .bloc_content
                    h2 Discover 
                    h3 our store
                    img.couvert(src="assets/img/ic-plate.png" alt="logo couvert")
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur nesciunt voluptate quos inventore fugit aliquam deleniti hic ad ipsum qui, vero, iusto doloribus. Dolor, quisquam.
                    
                    .card
                        img(src="assets/img/avatar-01.jpg", alt="avatar chef cuisto")
                        h2 russell stephens
                        h3 chef cook 
                        //TODO espacer el h3 et le h2


            .bloc

        section#section2 
            .menu 
                h2 Discover 
                img.couvert(src="assets/img/ic-plate.png" alt="logo couvert")
                ul 
                    li breakfast
                    li lunch
                    li dinner
                    li drinks
                    li other

                .menu_content 
                    section 
                        .plate 
                            img.photo(src="assets/img/dish-item-01.jpg", alt="photo plat 1")
                            .plate_descriptif 
                                h2 italian source mushroom 
                                p Mushroom / Garlic / Veggies
                            .price 
                                h2 $12
                        .plate 
                            img.photo(src="assets/img/dish-item-02.jpg", alt="photo plat 1")
                            .plate_descriptif 
                                h2 fried potatoes with garuc
                                p Potatoes / Olives Oil / Garlic
                            .price 
                                h2 $22
                    section 
                        .plate 
                            img.photo(src="assets/img/dish-item-03.jpg", alt="photo plat 3")
                            .plate_descriptif 
                                h2 tenu roast source
                                p tuna / potatoes / rice
                            .price 
                                h2 $15
                        .plate 
                            img.photo(src="assets/img/dish-item-04.jpg", alt="photo plat 4")
                            .plate_descriptif 
                                h2 roast pork (4 sticks) 
                                p pork / veggies / shoyu
                            .price 
                                h2 $18
                    section 
                        .plate 
                            img.photo(src="assets/img/dish-item-05.jpg", alt="photo plat 5")
                            .plate_descriptif 
                                h2 salted fried chicken
                                p chicken / olive oil / salt
                            .price 
                                h2 $20
                        .plate 
                            img.photo(src="assets/img/dish-item-06.jpg", alt="photo plat 6")
                            .plate_descriptif 
                                h2 crab curry sources
                                p crab / potatoes / rice
                            .price 
                                h2 $14
                    section 
                        .plate 
                            img.photo(src="assets/img/dish-item-07.jpg", alt="photo plat 7")
                            .plate_descriptif 
                                h2 imported slamon steack
                                p salmon / veggies  /oil
                            .price 
                                h2 $16
                        .plate 
                            img.photo(src="assets/img/dish-item-08.jpg", alt="photo plat 8")
                            .plate_descriptif 
                                h2 baked potato pizza
                                p potato / bread / cheese
                            .price 
                                h2 $25
                    
        section#section3 
            .reservation 
                .bloc 
                    .bloc_content 
                        h2 time 
                        h3 open 
                        img.couvert(src="assets/img/ic-plate.png" alt="logo couvert")
                        h4 monday - friday 
                        p 7am - 11am
                            em
                                | (breakfast)
                        p 11 - am 10pm
                            em
                                | (lunch/dinner)
                        h4 saturday / sunday 
                        p 8am - 1pm|
                            em  
                                | (brunch)
                        p 1pm - 9pm
                            em 
                                | (lunch/dinner)
                        h4 +15 890 979 25 52
                .bloc 
                    h2 reservation 
                    h3 online booking 
                    img.couvert(src="assets/img/ic-plate.png" alt="logo couvert")
                    form(action="#") 
                        div
                            select(id="people" required)
                                option People
                                - var i = 0
                                while i < 10
                                    option(value=i)= i++
                            input(type="date" id="date" value="2021-02-11" min="2021-01-01" max="2021-12-31" required)
                            input(type="time" id="time" min="07:00" max="19:30" required)
                        div
                            input(type="text" placeholder="Name" required)
                            input(type="text" placeholder="Phone" required)
                            input(type="text" placeholder="Email" required)
                        button(type="submit") book now

        section#section4{
            
        }