@font-face{
    font-family: allura;
    font-weight: 400;
    src: url("../assets/fonts/Allura-Regular.ttf")
}
@font-face{
    font-family: poppins;
    font-weight: 500;
    src: url("../assets/fonts/Poppins-Medium.ttf")
}
@font-face{
    font-family: roboto;
    font-weight: 300;
    src: url("../assets/fonts/Roboto-Light.ttf")
}