body{
    margin: 0;
    box-sizing: border-box;
}

#head{
    background: center/cover url('../assets/img/bg-slider-06.jpg');
    height: 100vh;

    nav{
        color: $white;
        width: 80%;
        margin: auto;
        padding-top: 2em;

        display: flex;
        align-items: center;
        justify-content: space-between;

        h2{
            color: $white;
        }

        ul{
            display: flex;
            list-style-type: none;
            padding: 0;
            
            li{
                font-family: roboto;
                text-transform: uppercase;
                padding: 0 2em;
                
                a{
                    display: inline-block;
                    width: 100%;
                    transition: 0.5s ease-in-out;

                    &:hover{
                        display: inline-block;
                        transform: scale(1.5);
                    }
                }
            }
        }
        .reseaux{
            display: flex;
        }

        @media screen and (max-width: 1335px){
            ul{ li{padding: 0 1em;}}
        }
        @media screen and (max-width: 1050px){
            ul{ display: none;}
        }
    }

    .vh_content{
        color: $white;
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        &_txt{
            transform: translateY(-50%);

            h1{
                text-transform: uppercase;
                font-size: 5rem;
                letter-spacing: 0.1em;
                margin: auto;
            }

            @media screen and (max-width: 730px){
                h1{
                    font-size: 4rem;
                }
                h3{
                    font-size: 1.5rem;
                }
            }
            @media screen and (max-width: 410px){
                h1{
                    font-size: 2rem;
                }
                h2{
                    font-size: 1.5rem;
                }
                h3{
                    font-size: 0.8rem;
                }
            }
        }
    }
}

#section1{
    display: grid;
    grid-template-columns: 1fr 1fr;

    .bloc{

        &:nth-child(1){
            display: flex;
            justify-content: center;
            align-items: center;
            .bloc_content{
                margin: 30px;
                padding: 30px;
                border: 1px dashed $or;
                text-align: center;

                p{
                    margin: 0;
                    font-family: roboto;
                }
                
                .card{
                    margin: 1em auto;

                    img{
                        border-radius: 50%;
                        transform: scale(0.8);
                    }
                    h2{
                        color: $black;
                        font-family: poppins;
                        font-size: 1.2rem;
                        margin-bottom: 0.3em;
                    }
                    h3{
                        color: $grey;
                        font-family: roboto;
                        font-size: 0.8rem;
                    }
                }
            }

        }
        &:nth-child(2){
            background: center/cover url("../assets/img/store-01.jpg");
        }
    }

    @media screen and (max-width: 1230px){
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

#section2{
    margin: 0;
    background: $darken;
    text-align: center;
    position: relative;
    z-index: 1;

    .menu{
        // transform: translateY(-350px);
        padding-top: 100px;
        position: relative;

        &::before{
            content:"";
            background: center/cover url('../assets/img/bg-menu-01.jpg');
            position: absolute;
            top: 450px;
            left: 0;
            width: 100%;
            height: 70%;
            z-index: -1;
        }
    
        ul{
            color: $white;
            list-style-type: none;
            display: flex;
            justify-content: center;
            font-size: 1.5rem;
            padding: 0;

            li{
            padding: 0 2em;
            text-transform: capitalize;

            &:after{
                content: "";
                display: inline-block;
                width: 100%;
                height: 2px;
                background: $grey;
                transform: translateY(-25px);
            }
            }
        }

        &_content{
            min-width: 1010px;
            width: 60%;
            margin: auto;
            padding: 30px 50px;
            background: $white;
            border-top: 7px solid $or;
            color: $black;
            
            section{
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 100px;
            }

            .plate{
                display: grid;
                grid-template-columns: 1fr 6fr 2fr;
                align-items: center;
                padding: 3em 2em;
                border-bottom: 1px dashed $grey;

                img{
                    $dim: 60px;
                    width: $dim;
                    height: $dim;
                    border-radius: 50%;
                    margin-right: 20px;

                }

                &_descriptif{
                    text-align: left;   
                    
                    h2{
                        font-family: poppins;
                        color: inherit;
                        text-transform: uppercase;
                        font-size: 1rem;
                    }
                    p{
                        font-size: 1rem;
                        text-transform: capitalize;
                        margin: 0
                    }

                    @media screen and (max-width: 600px){
                        h2{font-size: 0.7rem;}
                        p{font-size: 0.6rem;}
                    }
                }

                .price{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $or;
                    font-family: allura;

                    @media screen and (max-width: 600px){
                        h2{font-size: 1rem;}
                    }
                }

                @media screen and (max-width: 600px){
                    grid-template-columns: 2fr 1fr;

                    img{
                        display: none;
                    }
                }
            }

            @media screen and (max-width: 1050px){
                min-width: 580px;
                section{
                    display: block;
                }
            }
            @media screen and (max-width: 600px){
                min-width: unset;

                .plate{
                    padding: 1em;
                }
            }
        }

        @media screen and (max-width: 1050px){
            ul{
                li{
                    padding: 0 1em;
                }
            }
        }
        @media screen and (max-width: 630px){
            min-width: unset;
            ul{
                li{
                    padding: 0 0.5em;
                }
            }
        }
        @media screen and (max-width: 550px){
            ul{
                font-size: 1.1rem;
            }
        }
    }
}

#section3{
    background: $darken;
    padding-top: 150px;

    .reservation{
        width: 80%;
        min-width: 965px;
        max-width: 1700px;
        margin: 50px auto 0 auto;
        display: grid;
        grid-template-columns: 25% 75%;

        .bloc{
            text-align: center;
        }

        .bloc:first-child{
            background: $black;
            color: $white;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 30px;


            .bloc_content{
                width: 100%;
                height: 100%;
                border: 1px dashed $grey;

                h2{
                    margin-top: 1em;
                }
                h4{
                    text-transform: uppercase;
                    color: $or;
                    font-size: 1.2rem;
                    margin: 1.5em auto;
                }
                p{
                    margin: 0;
                    font-size: roboto;
                    text-transform: uppercase;

                    em{
                        font-size: 0.9em;
                        text-transform: capitalize;
                    }
                }
            }
            
        }
        .bloc:last-child{
            background: $white;
            color: $black;
            padding: 0 5em;

            h2{
                margin-top: 2em;
            }
            form{
                div{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 20px;
                    margin: 1em;
                }
                button{
                    margin-top: 3em;
                    text-transform: uppercase;
                    letter-spacing: 0.3em;
                    color: $white;
                    background: $black;
                    padding: 1.5em 5em;
                    border-radius: 60px;
                }
            }
            
        }

        @media screen and (max-width: 985px){

            min-width: unset;
            width: 90%;
            grid-template-columns: 35% 65%;

            .bloc:last-child{
                padding: 0 2em;
                form{
                    div{
                        &:first-child{
                            margin-bottom: 3em;
                        }

                        grid-template-columns: 1fr 1fr;
                        grid-template-rows: 1fr 1fr;
                        grid-template-areas: 
                        "i1 i2"
                        "i3 i3";

                        select{
                            grid-area: i1;
                        }
                        input[type="date"]{
                            grid-area: i2;
                        }
                        input[type="time"]{
                            grid-area: i3;
                        }
                        input.name{
                            grid-area: i1;
                        }
                        input.phone{
                            grid-area: i2;
                        }
                        input.email{
                            grid-area: i3;
                        }
                    }
                    button{margin: 1em auto;}
                }
            }
        }
        @media screen and (max-width: 804px) {
            grid-template-columns: 45% 55%;
            .bloc:last-child{
                form{
                    div{
                        grid-template-columns: 1fr;
                        grid-template-areas: 
                        "i1"
                        "i2"
                        "i3";
                    }
                }
            }
        }
        @media screen and (max-width: 600px) {
            grid-template-columns: 1fr;

            .bloc:first-child{
                img.couvert{
                    margin: 1rem;
                }
            }
        }
    }
}

#section4{
    padding: 100px 0 300px 0;
    text-align: center;
    background: $darken;
    
    h3{color:$white}

    .section{
        width: 80%;
        max-width: 1700px;
        margin: auto;
        display: grid;
        gap: 30px;
        grid-template-columns: 55% 45%;
        grid-template-areas: 
        "clt cr"
        "clb cr";

        .card{
            display: flex;

            .bloc{
                .date{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 125px;
                    height: 125px;
                    color: $white;
                    background: $darken;

                    h4{
                        font-family: roboto;
                        margin: 0.15em 0;
                    }
                    h4:first-child{
                        font-size: 2rem;
                    }
                    h4:last-child{
                        letter-spacing: 0.1em;
                    }
                }

                &:first-child{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex: 1;
                }
                &:last-child{
                    flex:2;
                    color: $black;
                    background: $white;
                    padding: 0;
                }

                h3{
                    margin: 1em 0 0 0;
                    color: $black;
                    text-transform: capitalize;
                    letter-spacing: 0.1em;
                    font-size: 1.5em;
                }
                ul{
                    padding: 0;
                    display: flex;
                    justify-content: center;

                    li{
                        margin: 0 1em;
                        color: $grey;
                        font-size: 0.8rem;
                        text-transform: capitalize;
                        letter-spacing: 0.15em;

                        &:first-child::before{
                            content: "";
                            display: inline-block;
                            margin: 0 10px;
                            width: 15px;
                            height: 15px;
                            background: center/cover url("../assets/img/pin.svg");
                        }
                        &:last-child::before{
                            content: "";
                            display: inline-block;
                            margin: 0 10px;
                            width: 15px;
                            height: 15px;
                            background: center/cover url("../assets/img/clock-time.svg");
                        }
                    }
                }
                a{
                    display: block;
                    text-transform: uppercase;
                    text-align: left;
                    margin: 3em 2em;
                }
            }       
        }
        .cardLeftTop{
            grid-area: clt;
            min-width: 580px;
            height: 200px;
            
            .bloc:first-child{
                background: center/cover url("../assets/img/event-01.jpg");
                width: 200px;
                height: 200px;
            }
            }
        .cardLeftBottom{
            grid-area: clb;
            min-width: 580px;
            height: 200px;

            .bloc:first-child{
                background: center/cover url("../assets/img/event-02.jpg");
            }
        }
        .cardRight{
            grid-area: cr;
            max-width: 640px;
            background: center/cover url(../assets/img/event-03.jpg);
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 30px;
            
            .bloc{
                position: relative;
                width: 100%;
                height: 100%;
                padding-top: 130px!important;
                flex-direction: column;

                .date{
                    position: absolute;
                    top: 0;
                }
            }
        }

        @media screen and (max-width: 1280px) {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .cardRight{
                margin: auto;
            }
        }
        @media screen and (max-width: 680px) {
            .card{
                .bloc{
                    ul{
                        li{ font-size: 0.5rem;}
                    }
                }
            }
            .cardLeftTop{
                min-width: unset;
                    .bloc:first-child{ display: none;}
                }
                .cardLeftBottom{
                    min-width: unset;
                    .bloc:first-child{ display: none;}
                }
        }
        @media screen and (max-width: 440px) {
            .card{
                height: auto;
                .bloc{
                    h3{
                        font-size: 1em;
                    }
                    a{
                        font-size: 1em;
                        margin: 1em 2em
                    }
                }
            }
        }
        
    }

    @media screen and (max-width: 600px) {
        padding: 100px 0 100px 0;
    }
}

#section5{
    background: $darken;

    .comment{
        background: $white;
        margin: auto;
        width: 80%;
        max-width: 1700px;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 2;

        .avatar{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .citation{
            text-align: center;
            margin: 50px auto 50px auto;

            p{
                width: 80%;
                display: block;
                margin: 3em auto;
                position: relative;
                line-height: 2em;

                &::before{
                content: "";
                background: center/cover url("../assets/img/left-quote.svg");
                width: 10px;
                height: 10px;
                position: absolute;
                top: 0px;
                left: 0px;
                }
                &::after{
                content: "";
                background: center/cover url("../assets/img/left-quote.svg");
                width: 10px;
                height: 10px;
                position: absolute;
                bottom: 20px;
                right: -10px;
                transform: rotate(180deg)
                }
            }

            h2{ 
                color: $black;
                font-family: poppins;
                font-size: 1.2rem;
                margin-bottom: 1em;
            }
            h3{
                color: $or;
                font-family: roboto;
                font-size: 0.8rem;
            }
        }

    }
}

#map{
    background: center/cover url("../assets/img/gmap.jpg");
    height: 400px;
    transform: translateY(-50px);
}

footer{
    background: $darken;
    transform: translateY(-50px);
    
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 80%;
        max-width: 1700px;
        margin: auto;
        
        .bloc:first-child{
            padding: 50px;

            .content{
                width: 70%;
                margin-left: auto;
                margin-right: 0;

                p{
                    line-height: 1.8em;
                    font-family: roboto;
                    color: $grey
                }
            }
        }
        .bloc:last-child{
            padding: 50px;

            h3{
                color: $white;
                font-size: 1rem;
                margin: 25px auto;
            }

            .content{

                .newsletter{
                    margin-bottom: 25px;

                    input{
                        height: 1.2em;
                        color: $white;
                        background: $darken;
                        border: 0.1px solid $grey;
                    }
                    button{
                        visibility: hidden;
                    }
                }
                .reseaux{
                    display: flex;

                    h3{flex:1}
                
                    ul{
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        flex: 3;
                        padding: 0;

                        li{
                            width: 20px;
                            height: 20px;
                            object-fit: cover;


                            img{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        @media screen and (max-width: 840px) {
            display: flex;
            flex-direction: column;

            .bloc:first-child{
                .content{
                    width: auto;
                }
            }
        }
        @media screen and (max-width: 360px){
            .bloc:last-child{
                .content{
                    .reseaux{
                        display: none;
                    }
                }
            } 
        }
    }

}